# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build outputs
dist/
build/

# Android Studio / Gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
